<!DOCTYPE html>
<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <h1>Convert <%= @base_currency %> to <%= @target_currency %></h1>
    <p>Conversion form goes here...</p>
    <p>Go <a href="/<%= @base_currency %>">back</a>.</p>
  </body>
</html>
