
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Currency pairs</h1>
    <ul>
        <% @symbols.each do |symbol| %>
            <li><a href="/<%= symbol %>"><%= symbol %></a></li>
        <% end %>
    </ul>
</body>
</html>
